<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daoyun.demo.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.daoyun.demo.pojo.Course">
        <id column="course_id" property="courseId" />
        <result column="course_code" property="courseCode" />
        <result column="course_name" property="courseName" />
        <result column="org" property="org" />
        <result column="status" property="status" />
        <result column="is_end" property="isEnd" />
        <result column="teacher" property="teacher" />
        <result column="class_name" property="className" />
        <result column="term" property="term" />
        <result column="creation_date" property="creationDate" />
        <result column="creator" property="creator" />
        <result column="modification_date" property="modificationDate" />
        <result column="modifier" property="modifier" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        course_id, course_code, course_name, org, status, is_end, teacher, class_name, term, creation_date, creator, modification_date, modifier
    </sql>

</mapper>
